In [1]:
from gradebook import Subject

In [2]:
s = Subject('Smurfs History')

In [3]:
s.add_grade('2+', 4, "Grumpy is grumpy!")

c:\suap\dev\oldRepos\repos\Python\suap_coding\electronic-grade-book\gradebook.py:42: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.__grades = self.__grades.append(

In [4]:
s.grades

,grade,weight,comment,date,valid,invalidation reason,invalidation date
0,2+,4,Grumpy is grumpy!,2023-01-10 18:19:51.195550,True,None,None

In [5]:
s.invalidate_grade(0, "Some prank...")

In [6]:
s.grades

,grade,weight,comment,date,valid,invalidation reason,invalidation date
0,2+,4,Grumpy is grumpy!,2023-01-10 18:19:51.195550,False,Some prank...,2023-01-10 18:19:51.407732

In [7]:
s.grades.loc[0, 'grade'] = 5

In [8]:
s.grades

,grade,weight,comment,date,valid,invalidation reason,invalidation date
0,2+,4,Grumpy is grumpy!,2023-01-10 18:19:51.195550,False,Some prank...,2023-01-10 18:19:51.407732